In [2]:
#import data
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [3]:
df=pd.read_csv('asparagus.csv', skiprows=1)
df.head()

,Form,Average retail price,Unnamed: 2,Preparation,Size of a,Unnamed: 5,Average price,Unnamed: 7
0,NaN,NaN,NaN,yield factor,cup equivalent,NaN,per cup equivalent,NaN
1,Fresh1,$3.08,per pound,0.494,0.397,pounds,$2.47,NaN
2,Canned2,$2.72,per pound,0.65,0.397,pounds,$1.66,NaN
3,Frozen3,$6.07,per pound,1.034,0.397,pounds,$2.33,NaN
4,1Includes green asparagus. It is assumed that ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#describe data, what you discovered about your data
#interesting aspects of your data (missing or undistributed)
#next steps to dig deeper into your data any other thoughts about what you
df.describe()
df.drop(df.index[0])

,Form,Average retail price,Unnamed: 2,Preparation,Size of a,Unnamed: 5,Average price,Unnamed: 7
1,Fresh1,$3.08,per pound,0.494,0.397,pounds,$2.47,NaN
2,Canned2,$2.72,per pound,0.65,0.397,pounds,$1.66,NaN
3,Frozen3,$6.07,per pound,1.034,0.397,pounds,$2.33,NaN
4,1Includes green asparagus. It is assumed that ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2Includes green asparagus. The liquid contents...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3The FNDDS reports that cooking ten ounces of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()
df.drop(['Unnamed: 2', "Unnamed: 5"], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
Form                     7 non-null object
Average retail price     3 non-null object
Unnamed: 2               3 non-null object
Preparation              4 non-null object
Size of a                4 non-null object
Unnamed: 5               3 non-null object
Average price            4 non-null object
Unnamed: 7               0 non-null float64
dtypes: float64(1), object(7)
memory usage: 832.0+ bytes

,Form,Average retail price,Preparation,Size of a,Average price,Unnamed: 7
0,NaN,NaN,yield factor,cup equivalent,per cup equivalent,NaN
1,Fresh1,$3.08,0.494,0.397,$2.47,NaN
2,Canned2,$2.72,0.65,0.397,$1.66,NaN
3,Frozen3,$6.07,1.034,0.397,$2.33,NaN
4,1Includes green asparagus. It is assumed that ...,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,2Includes green asparagus. The liquid contents...,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,3The FNDDS reports that cooking ten ounces of ...,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN

,Form,Average retail price,Unnamed: 2,Preparation,Size of a,Unnamed: 5,Average price
1,Fresh1,3.075611,per pound,0.493835,0.396832,pounds,2.47147
2,Canned2,2.720009,per pound,0.65,0.396832,pounds,1.66059
3,Frozen3,6.065786,per pound,1.03353,0.396832,pounds,2.32901
4,1Includes green asparagus. It is assumed that ...,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2Includes green asparagus. The liquid contents...,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3The FNDDS reports that cooking ten ounces of ...,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.isna().info()
df.drop(df.index[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
Form                     11 non-null bool
Average retail price     11 non-null bool
Unnamed: 2               11 non-null bool
Preparation              11 non-null bool
Size of a                11 non-null bool
Unnamed: 5               11 non-null bool
Average price            11 non-null bool
dtypes: bool(7)
memory usage: 205.0 bytes

,Form,Average retail price,Unnamed: 2,Preparation,Size of a,Unnamed: 5,Average price
1,Fresh1,3.075611,per pound,0.493835,0.396832,pounds,2.47147
2,Canned2,2.720009,per pound,0.65,0.396832,pounds,1.66059
3,Frozen3,6.065786,per pound,1.03353,0.396832,pounds,2.32901
4,1Includes green asparagus. It is assumed that ...,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2Includes green asparagus. The liquid contents...,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3The FNDDS reports that cooking ten ounces of ...,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Source: Calculated by USDA, Economic Research ...",NaN,NaN,NaN,NaN,NaN,NaN